



.wrapper{

   
  
    &__column-left{
 
        @media screen and (max-width: 1030px) {
            display: none;
        }
    }
    &__column-right{
        display: flex;
        width: 100%;
        max-height: 100%;
        flex-direction: column;
        align-items: center; 
    }

  
    &__form{

        max-width: 35rem;
        width: 100%;

      
        .input{
            
            &:not(:nth-last-of-type(2)){
              margin-bottom: 1.2rem;
            }
        }
        .btn{
            display: flex;
            justify-content: center;
       
        }
     
    }
}