$blue-color: #4D88ED;
$white-color: #fff;
$second-white-color: #FEFEFE;
$black-color: #1A1A2E;
$grey-color: #C0BFBF;



$button-color: $blue-color;
$button-color-text: $white-color;
$input-color-text: $black-color;
$logo-color-text: $black-color;
$input-color-border: $grey-color;
$input-color-bg: $second-white-color;
$text-color: $black-color;
$link-color: $blue-color;